[Unit]
Description=AutoSSH reverse tunnel for technical support
After=network.target

[Service]
User=soporte
Group=soporte
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 0 -o "ExitOnForwardFailure=yes" -o "ServerAliveInterval 30" -o "ServerAliveCountMax 3" -p 5928 -NR 2201:localhost:2201 ancla@servertecnojosue.duckdns.org  -i /home/soporte/.ssh/soporte

[Install]
WantedBy=multi-user.target
